<%= render 'shared/banner_heros' %>

<div class="hero-index-cards">
  <% @heros.each do |hero|%>
  <%= link_to hero_path(hero) do%>
    <div class="hero-card">
        <div class="hero-img-background">
          <% hero.powers.each do |power| %>
              <p><%= power.power %></p>
              <% end %>
        </div>
      <div class="hero-avatar d-flex justify-content-center align-items-end">
        <% if hero.photo.attached? %>
          <div class="hero-img"><%= cl_image_tag(hero.photo.key) %></div>
        <% else %>
          <div class="hero-img"><img src="https://images.emojiterra.com/twitter/v13.1/512px/1f9b8.png"></div>
        <% end %>
          <div class="hero-rating d-flex justify-content-center align-items-center">
            <% i = 0 %>
            <% if hero.reviews.empty? %>
              <p><%='New hero'%></p>
            <% else %>
              <% hero.reviews.each do |review| %>
                <% i += review.rating %>
              <% end %>
              <h3><%= "⭐️"* (i.fdiv(hero.reviews.count))%></h3>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>

  <% end %>
</div>
  <div class="d-flex justify-content-center"><%= render 'shared/map', markers: @markers %> </div>
