<div class="heros-banner">
<div><h1 >powAAAAAAA</h1></div>
    <div class="row">
      <div class="col-12">
        <%= form_tag heros_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search other power"%>
          <%= submit_tag "Search", class: "search-btn btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

<div class="hero-index-cards">
  <% @heros.each do |hero|%>
    <div class="hero-card">
      <div class="hero-avatar d-flex justify-content-center align-items-end">
        <%# <%= cl_image_tag(hero.photo.key, :crop=>'fill') %>
        <div class="hero-description">
          <h2><%= hero.name %></h2>
          <%# <h2><%= hero.power</h2> %>
        </div>
      </div>
      <div class="hero-rating d-flex justify-content-center align-items-center">
        <%# <p>5⭐ <%= @hero.review.rating %></p>
      </div>
    </div>
  <% end %>
</div>
