<div class="container">
  <div class="row mt-5 card-show">
  <div class="col-2">
    <div class="card-superhero">
      <h1><%= @hero.name %></h1>
      <% @hero.powers.each do |power| %>
        <h2><%= power.power %></h2>
      <% end %>
    </div>
    <div class="card-bloc">
          <div class="card-superhero">
      <h1><%= @hero.name %></h1>
      <% @hero.powers.each do |power| %>
        <h2><%= power.power %></h2>
      <% end %>
    </div>
    </div>
  </div>
  <p><%= link_to 'Results', heros_path %></p>
</div>
</div>
