<div class="container">
  <div class="row">
  <div class="col-sm">
    <div class="card-hero-container">
      <div class="hero-name"><%= @hero.name %></div>
      <div class="card-hero-infos">
        <div class="card-hero-infos-col">
          <div class="card-hero-infos-powers">
            <div class="card-hero-infos-powers-title">Powers</div>
            <div class="card-hero-infos-powers-list">
              <ul><% @hero.powers.each do |power| %>
              <div><li><%= power.power %></li></div>
              <% end %></ul>
            </div>
          </div>
          <div class="card-hero-infos-price"><%= "€ #{@hero.price}/day" %></div>
        <div class='img' style='text-align:center;'> <%= cl_image_tag @hero.photo.key,
            height: 200 %>
        </div>
        </div>
        <div class="card-hero-book-btn"><%= link_to 'Book a mission now!', new_hero_mission_path(@hero) %></div>
        <br>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
  </div>
</div>
