<% if @mission.present? %>
  <div class="card-hero-container">
    <h2 class="title">Current mission:</h2>
    <div class='img m-2' style='text-align:center;'> <%= cl_image_tag @mission.hero.photo.key, height: 200 %></div>
      <div class="infos d-flex justify-content-between align-items-center">
        <div class="mission-description">
          <h2><%= @mission.title %></h2>
          <p><strong><%= @mission.hero.name %></strong></p>
          <p><%= @mission.location %>  <%= @mission.start_date %></p>
        </div>
        <div class="review-btn p-2">
        <%= link_to 'Mission Accomplished?! Review this mission', new_hero_review_path(@mission.hero), class:'btn btn-success'  %>
        </div>
      </div>
    <button class="btn btn-primary mr-1 mt-3 ml-0 p-2" type="button" data-toggle="collapse" data-target="#collapsemissioncontent" aria-expanded="false" aria-controls="collapsemissioncontent">
      Display Details
    </button>
    <%= link_to 'Edit Details', edit_mission_path(@mission), class: "btn btn-primary mt-3 p-2", style: "margin-right: 5px; margin-left: 5px;" %>
    <%= link_to 'Delete Mission', mission_path(@mission), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary mt-3 p-2" %>
  </div>
  <div class="collapse container" id="collapsemissioncontent">
    <div class="card card-body">
      <%= @mission.content %>
    </div>
  </div>
  <% else %>
  <div class="card-hero-container">
    <h2 class="title">Current mission:</h2>
    <div class="infos">
        <h2 style="color: white">No current mission</h2>
    </div>
  </div>
  <div class="collapse container" id="collapsemissioncontent">
    <div class="card card-body">
      <p>No details</p>
    </div>
  </div>
<% end  %>
