<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if params[:controller] == "pages" && params[:action] == "home" %>
      <%= link_to 'Home', root_path, class: "nav-link navbar-btns-active" %>
    <% else %>
      <%= link_to 'Home', root_path, class: "nav-link navbar-btns" %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <% if params[:controller] == "pages" && params[:action] == "dashboard" %>
            <%= link_to 'Your Dashboard', dashboard_path, class: "nav-link navbar-btns-active" %>
      <% else %>
            <%= link_to 'Your Dashboard', dashboard_path, class: "nav-link navbar-btns" %>
      <% end %>
          <li class="nav-item active">
      <% if params[:controller] == "devise/registrations" && params[:action] == "new" %>
           <%= link_to "Sign Up", new_user_registration_path, class: "nav-link navbar-btns-active" %>
      <% else %>
           <%= link_to "Sign Up", new_user_registration_path, class: "nav-link navbar-btns" %>
      <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link navbar-btns" %>
            <% else %>
              <% if params[:controller] == "devise/sessions" && params[:action] == "new" %>
                <%= link_to "Log in", new_user_session_path, class: "nav-link navbar-btns-active" %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class: "nav-link navbar-btns" %>
              <% end %>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
