<div class="container">
    <br>
    <h1>Welcome to your dashboard <%= current_user.first_name %></h1>
    <h2>User Information:</h2>
    <ul>
      <li>First Name: <%= current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <li>Email: <%= @mission %></li>
      <%= link_to 'Reset Password', edit_user_password_path, class: "btn btn-primary mr-1", style: "margin-right: 5px; margin-left: 5px;" %>
    </ul>
    <br>
    <div class="container">
<h1>Here are the details of your mission:</h1>
  <div class="card-product">
    <%= image_tag "OsirisDC.png", alt: "Osiris I Hero" %>
    <div class="card-product-infos">
      <h2><%= @mission.title %></h2>
      <p><%= @mission.location %> <strong><%= @mission.hero.name %></strong> <%= @mission.start_date %></p>
    </div>
    <button class="btn btn-primary mr-1" type="button" data-toggle="collapse" data-target="#collapsemissioncontent" aria-expanded="false" aria-controls="collapsemissioncontent">
    Display Details
  </button>
    <%= link_to 'Edit Details', edit_mission_path(@mission), class: "btn btn-primary mr-1", style: "margin-right: 5px; margin-left: 5px;" %>
    <%= link_to 'Delete Mission', mission_path(@mission), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  </div>
</div>
<div class="collapse container" id="collapsemissioncontent">
  <div class="card card-body">
    <%= @mission.content %>
  </div>
  </div>
</div>
    <%= link_to 'Create Hero', new_hero_path, class: "btn btn-primary mr-1", style: "margin-right: 5px; margin-left: 5px;" %>
    <%= link_to 'Return Home', root_path, class: "btn btn-primary mr-1", style: "margin-right: 5px; margin-left: 5px;" %>
</div>
