<%= render 'shared/banner' %>

  <div class="hero-cards">
<% @heros.each do |hero|%>
<%= link_to hero_path(hero) do%>
    <div class="hero-card">
        <div class="hero-img-background">
          <% hero.powers.each do |power| %>
              <p><%= power.power %></p>
          <% end %>
        </div>
    <div class="top-hero d-flex justify-content-center align-items-center">
        <h2>⭐</h2>
      </div>
      <div class="hero-avatar d-flex justify-content-center align-items-end">
        <div class="hero-img"><%= cl_image_tag(hero.photo.key) %></div>
        <div class="hero-description">
          <%# <h2><%=hero.name</h2> %>
        </div>
      </div>
      <div class=" d-flex justify-content-center align-items-center">
      </div>
    </div>
    <% end %>
  <% end %>
</div>
