<div class="container">
  <%# <div id='mission-booking-dates' data-unavailable="<%= @mission.unavailable_dates.to_json %>"> %>
    <h1>New Mission Details:</h1>
      <%= simple_form_for [ @hero, @mission ] do |f| %>
        <%= f.input :title %>
        <%= f.input :location %>
        <%= f.input :start_date, as: :string, type: :text %>
        <%= f.input :end_date, as: :string, type: :text %>
        <%= f.input :content %>
        <%= f.submit "Submit mission", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
