<div class="review-container p-4">
  <%# <div id='mission-booking-dates' data-unavailable="<%= @mission.unavailable_dates.to_json %>
    <h2>New Mission Details:</h2>
      <%= simple_form_for [ @hero, @mission ] do |f| %>
        <%= f.input :title %>
        <%= f.input :location %>
        <%= f.input :start_date, as: :string, type: :text %>
        <%= f.input :end_date, as: :string, type: :text %>
        <%= f.input :content %>
        <%= f.submit "Submit mission", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
