<div class="container">
  <h1>New Mission Details:</h1>
    <%= simple_form_for [ @hero, @mission ] do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :status %>
      <%= f.input :content %>
      <%= f.submit "Submit mission", class: "btn btn-primary" %>
    <% end %>
</div>
