<div class="review-container p-4">
    <h2>New Mission Details:</h2>
      <%= simple_form_for [ @hero, @mission ] do |f| %>
        <%= f.input :title %>
        <%= f.input :location %>
        <div data-controller="flatpickr">
          <%= f.input :start_date, as: :string, input_html: { class: "flatpickr-input" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "flatpickr-input" } %>
        </div>
        <%= f.input :content %>
        <%= f.submit "Submit mission", class: "btn btn-primary" %>
      <% end %>
</div>
